<div class="container-fluid">
	<nav class="navbar navbar-expand-lg navbar-dark fixed-top bg-primary">
		<button #navbarToggler
						id="navbarToggler"
						class="navbar-toggler navbar-toggler-right"
						type="button"
						data-toggle="collapse"
						data-target="#navbarCollapse"
						aria-controls="navbarCollapse"
						aria-expanded="false"
						aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<a class="navbar-brand"
			 href="#">Shopee Crawler Demo</a>
	</nav>
</div>
