<ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#fff" type="ball-clip-rotate" [fullScreen]="true">
	<p style="color: white; margin-top: 2rem">Đang xử lý ...</p>
</ngx-spinner>

<div class="row justify-content-center mx-0 my-4">
	<div class="col-12 col-sm-6 col-md-3 form-group">
		<label class="form-control-label" for="category">Danh mục sản phẩm</label>
		<select class="form-control" id="category" name="category" [(ngModel)]="selectedCategory" (change)="getProducts()">
			<option *ngFor="let category of categories" [ngValue]="category.id">
				{{category.name}}
			</option>
		</select>
	</div>
</div>

<ng-container *ngIf="products">
	<div [ngSwitch]="products.length > 0">
		<div *ngSwitchCase="true" class="row justify-content-start mx-0">
			<div *ngFor="let product of products" class="col-6 col-md-2 p-1">
				<div class="product">
					<div class="text-center">
						<img width="160" height="160" [src]="product.thumbnail" alt="product_image"/>
					</div>
					<div class="text-left font-weight-bold"><span>{{product.name}}</span></div>
					<div style="display: flex; flex: auto"></div>
					<div class="mt-2">
						<div class="row justify-content-between mx-0">
							<span>Giá cũ:</span>
							<span>{{product.oldPrice || '-'}}</span>
						</div>
						<div class="row justify-content-between mx-0">
							<span>Giá mới:</span>
							<span>{{product.newPrice || '-'}}</span>
						</div>
					</div>
				</div>

			</div>
		</div>
		<div *ngSwitchDefault class="text-center"><span>Không có dữ liệu để hiển thị</span></div>
	</div>
</ng-container>

<notifier-container></notifier-container>
