/* Bootstrap 4  */
$enable-flex: true; // Enable Flexbox mode
@import '~bootstrap/scss/bootstrap';
@import '~angular-notifier/styles.scss';

/* Prevent Bootstrap fixed navigation from covering up the body content */
body {
  padding-top: 2em;
  margin-top: 2em;
}
